<!-- wizard.component.html -->
<div class="wizard">
    <div class="wizard-inner">
      <div class="connecting-line"></div>
      <div class="nav nav-tabs" role="tablist">
        <div  *ngFor="let step of steps; let i = index" [class.active]="step.isActive">
           <a class="wizardlinks" href="javascript:void(0)" (click)="show(i)">

                {{ i + 1 }}
         
        </a>
    </div>
</div>
    </div>
    <div class="tab-content">
      <ng-content></ng-content>
    </div>
    <div class="buttons">
      <button *ngIf="currentStepIndex > 0" (click)="goToPreviousStep()">Previous</button>
      <button *ngIf="currentStepIndex < steps.length - 1" (click)="goToNextStep()">Next</button>
    </div>
  </div>
  