button{
    padding: 5px 10px;
    
}
.nav{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.buttons{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.wizardlinks{
    
    

    i{
        font-size: 2em;
    }
    
    
  
}
.wizardlinks.active{
  i{
    color: black;
  }
}

.arrow{
    
    width: fit-content;
  margin: 20px auto;
    
   
}